{{#if parking}}
<div class="search-info">
    <h3 class="search-info__address">{{parking.address}}</h3>
    <div class="search-info__container">
        <p class="search-info__lots">Свободно: <strong>{{parking.free_lots}}</strong>/{{parking.all_lots}}</p>
        <div class="search-button-container">
            <img class="map_icon" id="search_show-on-map_button_{{parking.id}}" alt="SVG Icon"
                src="../../resources/images/icons8-map-24.png">
            {{#if isFavorite}}
            <img class="heart_icon" id="search_add-parking_button_{{parking.id}}" alt="SVG icon"
                src="../../resources/images/icons8-heart-filled.svg">
            {{/if}}
            {{#unless isFavorite}}
            <img class="heart_icon" id="search_add-parking_button_{{parking.id}}" alt="SVG icon"
                src="../../resources/images/icons8-heart-outline.svg">
            {{/unless}}
        </div>
    </div>
</div>
{{/if}}